@page "/generate/{TransactionId:int}"
@using dsa_marketing.PdfServices.Immutables
@using QuestPDF.Fluent
@using dsa_marketing.Data
@using dsa_marketing.Data.Repositories
@using dsa_marketing.Models
@using QuestPDF.Previewer
@using PurchaseOrder = dsa_marketing.PdfServices.Templates.PurchaseOrder
<h3>DsaPdfGeneration</h3>

<h1>Hello</h1>
<h1>@_transactionInfo.Municipality</h1>
<h1>@_transactionInfo.Barangay</h1>
<h1>@_transactionInfo.PunongBarangay</h1>
<h1>@_transactionInfo.BarangayTreasurer</h1>
@foreach (var i in itemList)
{
    <p>@i.Particulars</p>
    <p>@i.Cost</p>
    <p>@i.Quantity</p>
}
<button type="button" @onclick="GeneratePdf">Generate</button>

@code {
    [Inject]
    private DsaClusterContext ClusterContext { get; set; }
    
    [Parameter]
    public int TransactionId { get; set; }
    
    PurchaseOrder _purchaseOrderPdf = new PurchaseOrder();
    UnitOfWork? _unitOfWork;

    TransactionInfo _transactionInfo;
    List<TransactionItem> itemList;
    
    protected override void OnInitialized()
    {
        _unitOfWork = new UnitOfWork(ClusterContext);
        
        var selectedTransaction = _unitOfWork.Transaction;
        var selectedDocument = _unitOfWork.TransactionDocuments;
        _transactionInfo = new TransactionInfo
        {
            Municipality = selectedTransaction.GetById(TransactionId).MunicipalityName,
            Barangay = selectedTransaction.GetById(TransactionId).BarangayName,
            PunongBarangay = selectedDocument.GetById(TransactionId).PunongBarangayName,
            BarangayTreasurer = selectedDocument.GetById(TransactionId).BarangayTreasurerName,
            Address = "Digos City",
            Supplier = "DSA Marketing",
            TermDelivery = "5 days upon receipt",
            TermPayment = "2/10. n/10"
        };
        itemList = ClusterContext.TransactionItems.ToList();
    }

    private void GeneratePdf()
    {
        _purchaseOrderPdf.DsaTemplate(_transactionInfo, itemList).GeneratePdf("C:/Users/Administrator/Desktop/hello.pdf");
    }
}