@using Microsoft.EntityFrameworkCore;
@using dsa_marketing.Models;

<div>
    <MudTable Elevation="0" Items="@transactions" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info" class="border-2 border-black ">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Recent Transactions</MudText>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Transaction ID</MudTh>
            <MudTh>Barangay Name</MudTh>
            <MudTh>Municipality</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Transaction ID">@context.TransactionId</MudTd>
            <MudTd DataLabel="Transaction ID">@context.BarangayName</MudTd>
            <MudTd DataLabel="Transaction ID">@context.MunicipalityName</MudTd>
        </RowTemplate>
    </MudTable>
</div>
@code {
    private bool _loading = true;
    private List<Transaction> transactions = new List<Transaction>();

    [Inject]
    private DsaClusterContext _context { get; set; }

    protected override void OnInitialized()
    {
        transactions = _context.Transactions
            .OrderByDescending(t => t.TransactionId)
            .Take(9)
            .ToList();
        _loading = false;
    }
}
