@page "/view/{CurrentTransactionId:int}"
@using System.Transactions
@using Aneta.Models
@using System.Runtime.InteropServices
@using Aneta.Data
@using Transaction = System.Transactions.Transaction

<div>
    <h1>Transaction ID: @CurrentTransactionId</h1>
    <h1>@_viewTransactionDisplayDetails.MunicipalityName</h1>
    <h1>@_viewTransactionDisplayDetails.BarangayName</h1>
    <h1>@_viewTransactionDocumentDetails.PunongBarangayName</h1>
    <h1>@_viewTransactionDocumentDetails.BarangayTreasurerName</h1>
    
</div>

@code {
    [Inject]
    private DsaClusterContext? Context { get; set; }

    [Inject]
    UnitOfWork? _unitOfWork { get; set; }

    [Parameter]
    public int CurrentTransactionId { get; set; }

    private Transactions _viewTransactionDisplayDetails;
    private TransactionDocument _viewTransactionDocumentDetails;

    private List<TransactionItem> _transactionItems;

    protected override void OnInitialized()
    {
        _unitOfWork = new UnitOfWork(Context);
        _viewTransactionDisplayDetails = _unitOfWork.Transactions.GetById(CurrentTransactionId);
        _viewTransactionDocumentDetails = _unitOfWork.TransactionDocuments.GetById(CurrentTransactionId);
    }
}