@page "/transactions"
@using Aneta.Data
@using Aneta.Models
@using MudBlazor
@inject NavigationManager Navigation

<PageTitle>Transactions</PageTitle>

<div class="font-inter text-black w-full h-full">
    <div>
        <div class="flex flex-row align-middle justify-between w-full">
            <MudGrid Class="d-flex align-content-center justify-space-between flex-grow-1 pb-3">
                <MudItem Class="d-flex flex-grow-1 align-end">
                    <MudText Typo="Typo.h5" Class="fw-bold font-grotesk font-black" Style="@($"color:{Colors.Shades.Black};")">DSA TRANSACTIONS / EXISTING TRANSACTION</MudText>
                </MudItem>
                <MudItem Class="w-25">
                    <MudTextField @bind-Value="_searchTransactionInfo" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 text-white"></MudTextField>
                </MudItem>
            </MudGrid>
        </div>
    </div>

    <div class="flex">
        <MudTable Class="font-bold grow" Elevation="0" T="ExistingTransactionsSummary" Items="@_listOfTransactions" Hover="true" @bind-SelectedItem="_selectedItem" Filter="FilterFunc1" Height="76vh" FixedHeader="true">
            <HeaderContent>
                <MudTh Class="text-black">TID</MudTh>
                <MudTh Class="text-black">City/Municipality</MudTh>
                <MudTh Class="text-black">Barangay</MudTh>
                <MudTh Class="text-black">Punong Barangay</MudTh>
                <MudTh Class="text-black">Barangay Treasurer</MudTh>
                <MudTh Class="text-black"></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.TransactionId</MudTd>
                <MudTd>@context.MunicipalityName</MudTd>
                <MudTd>@context.BarangayName</MudTd>
                <MudTd>@context.PunongBarangayName</MudTd>
                <MudTd>@context.BarangayTreasurerName</MudTd>
                <MudTd DataLabel="View">
                    <MudButton @onclick="() => NavigateToTransactionInfo(context.TransactionId)">
                        View Details
                    </MudButton>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager Style="height: 75px"/>
            </PagerContent>
        </MudTable>
    </div>

</div>

@code {
    [Inject]
    private DsaClusterContext? Context { get; set; }
    [Inject]
    UnitOfWork? UnitOfWork { get; set; }
    private void NavigateToTransactionInfo(int transactionId)
    {
        Navigation.NavigateTo($"/view/{transactionId}");
    }

    private string _searchTransactionInfo = "";
    private ExistingTransactionsSummary? _selectedItem = null;

    IEnumerable<ExistingTransactionsSummary> _listOfTransactions = new List<ExistingTransactionsSummary>();

    protected override void OnInitialized()
    {
        UnitOfWork = new UnitOfWork(Context);
        _listOfTransactions = UnitOfWork.ExistingTransactionsSummary?.GetAll().ToList()!;
    }

    private bool FilterFunc1(ExistingTransactionsSummary element) => FilterFunc(element, _searchTransactionInfo);

    private bool FilterFunc(ExistingTransactionsSummary element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.BarangayName!.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.MunicipalityName!.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.PunongBarangayName!.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.BarangayTreasurerName!.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

}