@page "/"
@using Aneta.Models
@using Aneta.Data
@using System.Transactions
@inject NavigationManager Navigation
<PageTitle>Home</PageTitle>

<div class="flex flex-col w-full gap-4">
    <div class="flex flex-row text-white gap-4">
        <div class="flex flex-col justify-start text-left rounded-lg p-16 grow bg-primary text-neutral-content">
            <h1 class="text-4xl text-left">Total Projects</h1>
            <h1 class="text-9xl text-left">@_projectCounts</h1>
            <h1 class="text-left">All running & completed projects</h1>
        </div>
        <div class="flex flex-col justify-start text-left bg-neutral rounded-lg p-16 grow">
            <h1 class="text-4xl text-left">Total Expenses</h1>
            <h1 class="text-9xl text-left">@_projectExpenses</h1>
            <h1 class="text-left">The total expenses from all projects</h1>
        </div>
    </div>
    <h1 class="text-xl font-bold text-black">Recent Transactions</h1>
    <div class="grid grid-cols-4 gap-4 text-black w-full">
        @foreach (var transaction in _listOfTransactions!)
        {
            <div class="card bg-base-100 shadow-xl">
                <div class="card-body justify-between">
                    <div class="flex flex-col gap-2">
                        <h2 class="card-title">
                            <div class="badge badge-primary inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">#@transaction.TransactionId</div>
                        </h2>
                        <div>
                            <p>@transaction.PunongBarangayName</p>
                            <p>@transaction.BarangayTreasurerName</p>
                        </div>
                        <div class="card-actions justify-start">
                            <div class="badge badge-outline bg-info text-base-100 p-3">@transaction.MunicipalityName</div>
                            <div class="badge badge-outline bg-info text-base-100 p-3">@transaction.BarangayName</div>
                        </div>
                    </div>
                    <div class="card-actions justify-start pt-3">
                        <button class="btn btn-primary grow" @onclick="() => NavigateToTransactionInfo(transaction.TransactionId)">View Details</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Inject]
    private DsaClusterContext? Context { get; set; }
    [Inject]
    UnitOfWork? UnitOfWork { get; set; }
    private List<ExistingTransactionSummary>? _listOfTransactions;
    private List<TransactionSummary>? _transactionDetails;
    private int _projectCounts = 0;
    private decimal _projectExpenses = 0;

    protected override void OnInitialized()
    {
        UnitOfWork = new UnitOfWork(Context);
        _listOfTransactions = UnitOfWork.ExistingTransactionSummary?.GetAll().ToList();
        _projectCounts = _listOfTransactions!.Count;
        _listOfTransactions = _listOfTransactions!.OrderByDescending(t => t.TransactionId).Take(8).ToList();
    }
    
    private void NavigateToTransactionInfo(int transactionId)
    {
        Navigation.NavigateTo($"/view/{transactionId}");
    }
}